*,::before,::after{
	box-sizing: border-box;
}


.card{
    box-shadow: 0 0 10px 1px #00000080;
    border-radius: 10px;
    min-height: 250px;
    width: 30ch;
    padding: 0.5rem;
    margin: auto;
    background-color: #eee;
    opacity: 0.5;
    transition: opacity 350ms ease, transform 250ms ease-in; /*se aplica la transicion en la opacidad, de forma que
    es menos abrupto. El transform es lo que hace que sr mueva la card hacia arriba poco a poco, a 250 milisegundos. El transition
    esta aqui en .card porque en el hover no funciona bien*/
  }
  .card:hover{
    opacity: 1;
    transform: translateY(-10px);
  }
  
  .card-title{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    background-image: linear-gradient(90deg,  #fff0,  white, #fff0);
  }
  
  .card-content{
    text-align: justify;
  }